.home_contain {
  width: 1024px;
  margin: 68px auto 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;
}

.overview_titel {
  display: flex;
  justify-content: space-between;
}

.overview_titel .timezoom {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  position: relative;
}

.overview_titel .timezoom i {
  margin: 0px 5px;
}

.overview_titel .timezoom .now_zoom {
  font-size: 14px;
  margin: 0px 20px;
  color: #888;
}

.overview_titel .timezoom .select_zoom {
  cursor: pointer;
}

.overview_titel .timezoom .hide {
  display: none;
}

.overview_titel .timezoom ul {
  right: 10px;
  top: 35px;
  width: 125px;
  background: #fff;
  list-style: none;
  box-shadow: 0px 0px 10px #dedede;
  position: absolute;
}

.overview_titel .timezoom ul li {
  cursor: pointer;
  width: 125px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.overview_titel .timezoom ul li:hover {
  color: #fff;
  background: #000;
}

.overview_contain {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.overview_contain .overview_box {
  text-align: center;
  width: 300px;
  padding: 20px 0px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 0px 10px #dedede;
}

.overview_contain .overview_box span {
  font-size: 20px;
}

.overview_contain .overview_box i {
  margin: 0 5px;
  font-size: 20px;
}

.overview_contain .overview_box p {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.overview_contain #revenue {
  color: #7ED321;
}

.overview_contain #cost {
  color: #D0021B;
}

.overview_contain #income {
  color: #4A90E2;
}

.activity {
  background: #fff;
  margin: 10px 0;
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #dedede;
}

.other {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.other .otherbox {
  padding: 20px 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #dedede;
  background: #fff;
  width: 460px;
}

.other .otherbox h2 {
  margin: 10px 0;
}

.other .item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.other .item:last-child {
  border: none;
}

.other .item .fa-arrow-up {
  color: #7ED321;
}

.other .item .fa-arrow-down {
  color: #D0021B;
}

.other .item .website {
  display: flex;
  align-items: center;
}

.other .item .website span {
  color: #999;
}

.other .item .website i {
  font-size: 38px;
  margin-right: 20px;
}

.other .item .trans_number {
  display: flex;
  align-items: center;
}

.other .item .trans_number p {
  font-weight: 600;
}

.other .item .trans_number span {
  font-size: 12px;
}

.other .item .trans_number i {
  margin: 0px 10px;
}

.other .item .trans_number .rise {
  color: #7ED321;
}

.other .item .trans_number .down {
  color: #D0021B;
}

.other .order {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.other .order:last-child {
  border: none;
}

.other .order .orderthumb {
  flex: 2;
  width: 100px;
  height: 100px;
}

.other .order .orderthumb img {
  width: 100px;
  height: 100px;
}

.other .order .orderinfo {
  flex: 4;
  position: relative;
  padding: 10px 20px;
}

.other .order .orderinfo i {
  margin-right: 8px;
}

.other .order .orderinfo .goods {
  font-size: 18px;
}

.other .order .orderinfo .date,
.other .order .orderinfo .buyer {
  color: #999;
  font-size: 12px;
  letter-spacing: 1px;
}

.other .order .orderprice {
  flex: 1;
  text-align: right;
  align-self: flex-end;
  padding: 10px;
}

.other .order .orderprice span {
  font-size: 12px;
}

.other .order .orderprice p {
  font-size: 18px;
  font-weight: 600;
}
/*# sourceMappingURL=index.css.map */